{
    ViewData["Title"] = "Tela Principal";
}

>>>>>>> d369483 (Atualização do main)
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Principal</title>
    <style>
        body {
            margin: 0;
            padding: 0;
<<<<<<< HEAD
            font-family: Arial, sans-serif;
        }

        .top-bar {
            background-color: #F0F0F0;
=======
            font-family: 'Open Sans', sans-serif;
        }

        .top-bar {
            background-color: #F8E4E3;
>>>>>>> d369483 (Atualização do main)
            color: white;
            text-align: center;
            padding: 1em;
            margin: 0 auto;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .container {
<<<<<<< HEAD
            max-width: 1000px;
=======
            max-width: 1000px; 
>>>>>>> d369483 (Atualização do main)
            margin: 0 auto;
            padding: 20px;
        }

        .box {
            width: 24%;
            display: inline-block;
            margin: 10px 0;
            padding: 10px;
            background-color: #FFA396; 
            text-align: left;
            border-radius: 10px;
            position: relative;
        }

        .box img {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 10px;
            right: 10px; 
        }
<<<<<<< HEAD
    </style>
=======

        .containerMain {
            display: flex;
            justify-content: space-between;
            padding: 10%;
        }

        .containerLeft, .containerRight {
            text-align: center;
            width: 48%; 
            height: auto; 
            background-color: #F8E4E3;
            border-radius: 10px;
            padding: 20px;
        }

        .containerLeft p,
        .containerRight p {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
>>>>>>> d369483 (Atualização do main)
</head>

<body>
    <div class="top-bar">
        <div class="container">
            <div class="box">
                <img src="~/img/bank.png" alt="icone de um banco">
                <div>Saldo Atual</div>
                <div>R$ 10,00</div>
            </div>
            <div class="box">
                <img src="~/img/revenue.png" alt="Imagem 2">
                <div>Receitas</div>
                <div>R$ 15,00</div>
            </div>
            <div class="box">
                <img src="~/img/expense.png" alt="Imagem 3">
                <div>Despesas</div>
                <div>R$ 20,00</div>
            </div>
            <div class="box">
                <img src="~/img/atm-card.png" alt="Imagem 4">
<<<<<<< HEAD
                <div>Cartão de Credito</div>
=======
                <div>Cartão de Crédito</div>
>>>>>>> d369483 (Atualização do main)
                <div>R$ 25,00</div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
=======

    <div class="containerMain"> 
        <div class="containerLeft">
           <h3>Renda Ativa</h3>
            <p>Salário           R$0,00</p>
            <h3>Saldo em Banco</h3>
            <p>Bradesco          R$0,00</p>
            <p>Nubank          R$0,00</p>
            <p>Neon         R$0,00</p>
            <h3>Renda Passiva</h3>
            <p>Ações          R$0,00</p>
            <p>CDB          R$0,00</p>
            <p>CDI        R$0,00</p>
            <p>Outros        R$0,00</p>
        </div>
        <div class="containerRight">
            <h3>Despesa por categoria</h3>
            <p>Moradia           R$0,00</p>
            <p>Estudos           R$0,00</p>
            <p>Lazer           R$0,00</p>
            <p>Saúde           R$0,00</p>
            <p>Outros           R$0,00</p>
            <h3>Cartão de Crédito</h3>
            <p>Bradesco          R$0,00</p>
            <p>Nubank          R$0,00</p>
            <p>Neon         R$0,00</p>
        </div>
    </div>
>>>>>>> d369483 (Atualização do main)
</body>

</html>
